@import url(reset.css);

html {
  box-sizing: border-box;
  font: normal 16px "Open Sans", Arial, sans-serif;
  color: rgb(64, 64, 64);
}

*, *:before, *:after {
  box-sizing: inherit;
  text-decoration: none;
}

* {
  margin: 0;
  padding: 0;
}

a,
a:visited {
  color: inherit;
}

a.greenrectangle {
  color: white;
  font-weight: bold;
  background-color: rgb(0, 128, 0);
  padding: 10px 30px;
}

a.greenlink {
  color: rgb(0, 128, 0);
  font-weight: bold;
}

/* HEADER */

header {
  display: none;
}

@media (min-width: 650px) {
  header {
    display: block
  }

  nav {
    width: 100%;
    border-top: 10px solid rgb(245, 245, 245);
    position: fixed;
    top: 0;
    border-bottom: 1px solid rgb(245, 245, 245);
    background-color: white;
  }

  nav ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }

  nav ul li {
    padding: 13px 27px;
    color: rgb(64, 64, 64);
    text-transform: uppercase;
    font-size: 13px;
    /* letter-spacing: 0.3px; */
  }

  nav ul li a:hover {
    text-decoration: underline;
  }
}

/* BANNER */

.banner {
  margin-top: 0;
  padding-top: 90px;
  padding-bottom: 45px;
  background-image: url("images/front.jpg");
  background-position: center;
  background-repeat: no-repeat;
  color: white;
  text-align: center;
}

.banner img {
  display: block;
  margin: 0 auto;
  height: 80px;
}

.banner h1 {
  font-size: 40px;
  font-weight: normal;
  padding-top: 5px;
}

.banner h2 {
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
}

@media (min-width: 650px) {
  .banner {
    margin-top: 55px;
    padding-top: 150px;
    padding-bottom: 55px;
  }

  .banner h1 {
    font-size: 72px;
    font-weight: normal;
    padding-top: 5px;
  }

  .banner h2 {
    font-size: 31px;
    font-weight: 400;
    text-transform: uppercase;
  }
}

/* ALL MAIN SECTIONS */

section.tickets,
section.speakers,
section.schedule,
section.location,
section.call_for_papers,
section.sponsors {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 78px;
  padding-left: 10px;
  padding-right: 10px;
  border-bottom: 1px solid rgb(240, 240, 240);
}

@media (min-width: 650px) {
  section.tickets,
  section.speakers,
  section.schedule,
  section.location,
  section.call_for_papers,
  section.sponsors {
    padding-left: 30px;
    padding-right: 30px;
  }
}

section.tickets h1,
section.speakers h1,
section.schedule h1,
section.location h1,
section.call_for_papers h1,
section.sponsors h1 {
  font-size: 48px;
  font-weight: 300;
  padding-top: 58px;
  padding-bottom: 30px;
}

/* TICKETS */

.tickets p {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
}

/* SPEAKERS */

.speakers ul {
  max-width: 900px;
  margin: 0 auto -15px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.speakers ul li {
  width: 280px;
  height: 380px;
  margin: 6px 6px;
  border: 1px solid rgb(230, 230, 230);
  overflow: hidden;
}

.speakers ul li h2 {
  color: rgb(0, 128, 0);
  font-size: 24px;
  font-weight: bold;
  padding: 28px 0 8px 0;
}

.speakers ul li p {
  color: rgb(68, 68, 68);
  font-size: 16px;
  font-weight: 300;
}

/* SCHEDULE */

.schedule table {
  max-width: 950px;
  margin: 0 auto;
  border-collapse: collapse;
}

.schedule table td {
  border-top: 1px solid rgb(230, 230, 230);
  border-bottom: 1px solid rgb(230, 230, 230);
  padding: 11px 5px;
  font-size: 24px;
}

/* .schedule table td, */
.schedule table h2 {
  font-size: 24px;
  font-weight: normal;
}

.schedule table h2,
.schedule table h3 {
  text-align: left;
  padding: 0 14px;
}

.schedule table h3 {
  font-size: 18px;
  font-weight: bold;
  padding-top: 8px;
  color: rgb(0, 128, 0);
}

.schedule table td.time {
  text-align: left;
  padding-left: 8px;
}

.schedule table td.image {
  padding: 10px 5px;
}

.schedule table .image img {
  width: 130px;
}

.schedule table h2 span {
  display: inline-block;
  font-size: 7px;
  border: 1px solid rgb(170, 170, 170);
  background-color: rgb(238, 238, 238);
  padding: 1px 4px;
  vertical-align: 5px;
}

.schedule table h2 span:first-child {
  margin-left: 8px;
}

@media (max-width: 650px) {

  .schedule table tr {
    padding: 0 20px;
    display: grid;
    grid-template-areas:
    "image time"
    "title title";
  }

  .schedule table tr td.image {
    grid-area: image;
    border: none;
    text-align: left;
    padding-top: 15px;
    padding-right: 14px;
    padding-left: 25px;
    /* outline: 1px solid red; */
  }

  .schedule table tr td.image img {
    width: 80px;
  }

  .schedule table tr td.time {
    grid-area: time;
    border: none;
    text-align: right;
    vertical-align: middle;
    padding-top: 15px;
    padding-right: 14px;
    /* outline: 1px solid red; */
  }

  .schedule table tr td.title {
    grid-area: title;
    border-top: none;
    padding-top: 0;
    padding-bottom: 10px;
  }
}

/* LOCATION */

.location p {
  max-width: 950px;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

.location iframe.googlemap {
  width: 100%;
  height: 500px;
  margin: 30px 0;
  border: 0;
}

/* Call for Papers */

.call_for_papers p {
  max-width: 950px;
  margin: 0 auto;
  text-align: left;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
  padding: 10px 0;
}

.call_for_papers p:first-of-type {
  margin-top: -10px;
}

/* SPONSORS */

.sponsors {
  max-width: 960px;

}

.sponsors h2 {
  text-align: left;
  font-size: 18px;
  font-weight: 600;
}

.sponsors ul.sponsor_container {
  max-width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 40px;
}

.sponsors ul.sponsor_container.gold {
  max-width: 800px;
}

.sponsors ul.sponsor_container.platinum img {
  margin: 5px 0 0 5px;
}

.sponsors ul.sponsor_container.gold img {
  margin: 5px 40px 0 5px;
}

.sponsors ul.sponsor_container.platinum img,
.sponsors ul.sponsor_container.gold img {
  width: 300px;
}

.sponsors ul.sponsor_container.silver img {
  width: 240px;
  margin-right: 45px;
}

.sponsors ul.sponsor_container.support img {
  width: 180px;
  margin-right: 45px;
}

/* FOOTER */

footer {
  height: 340px;
  width: 100%;
  margin-top: -40px;
  text-align: center;
  color: white;
  background-image: url("images/people.jpg");
  background-size: cover;
  background-position: 0 23%;
  background-repeat: no-repeat;
}

footer h1 {
  font-size: 35px;
  font-weight: 100;
  padding: 22px 0;
}

footer div.darkened {
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0 30px 10px;
  overflow: hidden;
}

footer div.team_container {
  max-width: 960px;
  margin: 0 auto;
  text-align: left;
}

footer div.team_container h2 {
  font-size: 31px;
  font-weight: 600;
  text-transform: uppercase;
}

footer div.team_container p {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 20px;
}

@media (min-width: 650px) {
  footer h1 {
    font-size: 48px;
    padding: 30px 0;
  }
}
